img {
  height: 200px;
  width: 200px;
}

.content-body {
  display: flex;
  flex-direction: row;
}

#img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em;
}

h1 {
  font-size: 30pt;
  text-align: center;
  color: cornflowerblue;
  padding: .5em;
}

body {
  margin: auto;
  width: 90%;
  border: 1px solid black;
}

#show-results-btn {
  color: blue;
  background-color: aquamarine;
  width: 145px;
  font-size: 20pt;
}

.graph-container {
  width: 80%;
}
